<h1><%= @restaurant.name %></h1>
<h2></h2>
<p><strong><%= @restaurant.address %></strong></p>
<p><strong><%= @restaurant.phone_number %></strong></p>
<p><%= @restaurant.reviews %></p>
<p><%= link_to "BACK TO RESTAURANTS", restaurants_path %></p>
